<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
  <title>SOperaciones</title>
</head>
<body>
<h1>Resultados</h1>
  <h2>El resultado de la Suma es: <span th:text ="${resultadoS}"></span></h2>
  <h2>El resultado de la Resta es: <span th:text ="${resultadoR}"></span></h2>
  <h2>El resultado de la Multiplicacion es: <span th:text ="${resultadoM}"></span></h2>
  <h2>El resultado de la Division es: <span th:text ="${resultadoD}"></span></h2>
  <h2>El resultado de la Potencia es: <span th:text ="${resultadoP}"></span></h2>
  <h2>El resultado de la Raiz es: <span th:text ="${resultadoRA}"></span></h2>
  <a href="menu">Volver al menu</a>
</body>
</html>